body {
	//font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	line-height: 1;
	color: $dark-text;
	min-width: 1000px;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
//---------------------------------------------------------
a {
	text-decoration: none;
	outline: none;
	color: inherit;
}

hr {
	border: none;
	margin: 0;
}

button, input {
	outline: none;
	&:focus, &:active {
		outline: none;
	}
}



button::-moz-focus-inner {
	border: 0;
}

.container-full {
	width: 100%;
}

.container-fixed {
	max-width: 1240px;
	margin: 0 auto;
}

.container-fixed-1320 {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 20px;
}

.section-title {
	text-align: center;
	h2 {
		font-family: 'PT Serif Caption';
		font-size: 41px;
		color: $dark-blue-text;
		letter-spacing: .1em;
		margin-bottom: 25px;
	}
	p {
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: $dark-blue-text;
		margin-top: 20px;
	}
}

//Popups
.white-popup {
	position: relative;
	background: #FFF;
	padding: 20px;
	//width: 1280px;
	max-width: 1280px;
	min-width: 1000px;
	margin: 20px auto;
	h2 {
		font-size: 41px;
		font-family: 'PT Serif Caption';
		color: $dark-blue-text;
		letter-spacing: .04em;
		margin: 55px 0 75px;
		text-align: center;
	}
}

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;

	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

.mfp-counter {
	display: none !important;
}

//Sprites
.icon {
	display: inline-block;
}

.icon-menu {
	@include sprite($menu);
}

.icon-close {
	@include sprite($close);
}

.icon-booking-menu {
	@include sprite($booking-menu);
}

.icon-arrow-right {
	@include sprite($arrow-right);
}

.icon-calendar {
	@include sprite($calendar);
}

.icon-title-label {
	@include sprite($title-label);
}

.icon-house {
	@include sprite($house);
}

.icon-bed {
	@include sprite($bed);
}

.icon-guest {
	@include sprite($guest);
}

.icon-door {
	@include sprite($door);
}

.icon-title-label-light {
	@include sprite($title-label-light);
}

.icon-bookmark {
	@include sprite($bookmark);
}

.icon-footer-logo {
	@include sprite($footer-logo);
}

.icon-adress {
	@include sprite($adress);
}

.icon-skype {
	@include sprite($skype);
}

.icon-phone {
	@include sprite($phone);
}

.icon-title-label-white {
	@include sprite($title-label-white);
}

.icon-pen {
	@include sprite($pen);
}

.icon-apostrophe {
	@include sprite($apostrophe);
}

.icon-zoom {
	@include sprite($zoom);
}

.icon-plus {
	@include sprite($plus);
}

.icon-minus {
	@include sprite($minus);
}

.icon-room-1 {
	@include sprite($room-1);
}.icon-room-2 {
	@include sprite($room-2);
}.icon-room-3 {
	@include sprite($room-3);
}.icon-room-4 {
	@include sprite($room-4);
}.icon-room-5 {
	@include sprite($room-5);
}.icon-room-6 {
	@include sprite($room-6);
}.icon-room-7 {
	@include sprite($room-7);
}.icon-room-8 {
	@include sprite($room-8);
}.icon-room-9 {
	@include sprite($room-9);
}.icon-room-10 {
	@include sprite($room-10);
}.icon-room-11 {
	@include sprite($room-11);
}.icon-room-12 {
	@include sprite($room-12);
}.icon-room-13 {
	@include sprite($room-13);
}.icon-room-14 {
	@include sprite($room-14);
}.icon-room-15 {
	@include sprite($room-15);
}.icon-room-16 {
	@include sprite($room-16);
}.icon-room-17 {
	@include sprite($room-17);
}.icon-room-18 {
	@include sprite($room-18);
}
//End Sprites