/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$adress-name: 'adress';
$adress-x: 159px;
$adress-y: 95px;
$adress-offset-x: -159px;
$adress-offset-y: -95px;
$adress-width: 31px;
$adress-height: 31px;
$adress-total-width: 224px;
$adress-total-height: 199px;
$adress-image: '../images/sprite.png';
$adress: (159px, 95px, -159px, -95px, 31px, 31px, 224px, 199px, '../images/sprite.png', 'adress', );
$apostrophe-name: 'apostrophe';
$apostrophe-x: 0px;
$apostrophe-y: 0px;
$apostrophe-offset-x: 0px;
$apostrophe-offset-y: 0px;
$apostrophe-width: 49px;
$apostrophe-height: 49px;
$apostrophe-total-width: 224px;
$apostrophe-total-height: 199px;
$apostrophe-image: '../images/sprite.png';
$apostrophe: (0px, 0px, 0px, 0px, 49px, 49px, 224px, 199px, '../images/sprite.png', 'apostrophe', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 125px;
$arrow-right-y: 106px;
$arrow-right-offset-x: -125px;
$arrow-right-offset-y: -106px;
$arrow-right-width: 23px;
$arrow-right-height: 18px;
$arrow-right-total-width: 224px;
$arrow-right-total-height: 199px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (125px, 106px, -125px, -106px, 23px, 18px, 224px, 199px, '../images/sprite.png', 'arrow-right', );
$bed-name: 'bed';
$bed-x: 56px;
$bed-y: 180px;
$bed-offset-x: -56px;
$bed-offset-y: -180px;
$bed-width: 20px;
$bed-height: 12px;
$bed-total-width: 224px;
$bed-total-height: 199px;
$bed-image: '../images/sprite.png';
$bed: (56px, 180px, -56px, -180px, 20px, 12px, 224px, 199px, '../images/sprite.png', 'bed', );
$booking-menu-name: 'booking-menu';
$booking-menu-x: 191px;
$booking-menu-y: 154px;
$booking-menu-offset-x: -191px;
$booking-menu-offset-y: -154px;
$booking-menu-width: 26px;
$booking-menu-height: 19px;
$booking-menu-total-width: 224px;
$booking-menu-total-height: 199px;
$booking-menu-image: '../images/sprite.png';
$booking-menu: (191px, 154px, -191px, -154px, 26px, 19px, 224px, 199px, '../images/sprite.png', 'booking-menu', );
$bookmark-name: 'bookmark';
$bookmark-x: 125px;
$bookmark-y: 0px;
$bookmark-offset-x: -125px;
$bookmark-offset-y: 0px;
$bookmark-width: 34px;
$bookmark-height: 38px;
$bookmark-total-width: 224px;
$bookmark-total-height: 199px;
$bookmark-image: '../images/sprite.png';
$bookmark: (125px, 0px, -125px, 0px, 34px, 38px, 224px, 199px, '../images/sprite.png', 'bookmark', );
$calendar-name: 'calendar';
$calendar-x: 37px;
$calendar-y: 180px;
$calendar-offset-x: -37px;
$calendar-offset-y: -180px;
$calendar-width: 19px;
$calendar-height: 17px;
$calendar-total-width: 224px;
$calendar-total-height: 199px;
$calendar-image: '../images/sprite.png';
$calendar: (37px, 180px, -37px, -180px, 19px, 17px, 224px, 199px, '../images/sprite.png', 'calendar', );
$close-name: 'close';
$close-x: 191px;
$close-y: 131px;
$close-offset-x: -191px;
$close-offset-y: -131px;
$close-width: 23px;
$close-height: 23px;
$close-total-width: 224px;
$close-total-height: 199px;
$close-image: '../images/sprite.png';
$close: (191px, 131px, -191px, -131px, 23px, 23px, 224px, 199px, '../images/sprite.png', 'close', );
$door-name: 'door';
$door-x: 146px;
$door-y: 125px;
$door-offset-x: -146px;
$door-offset-y: -125px;
$door-width: 13px;
$door-height: 22px;
$door-total-width: 224px;
$door-total-height: 199px;
$door-image: '../images/sprite.png';
$door: (146px, 125px, -146px, -125px, 13px, 22px, 224px, 199px, '../images/sprite.png', 'door', );
$footer-logo-name: 'footer-logo';
$footer-logo-x: 80px;
$footer-logo-y: 49px;
$footer-logo-offset-x: -80px;
$footer-logo-offset-y: -49px;
$footer-logo-width: 39px;
$footer-logo-height: 35px;
$footer-logo-total-width: 224px;
$footer-logo-total-height: 199px;
$footer-logo-image: '../images/sprite.png';
$footer-logo: (80px, 49px, -80px, -49px, 39px, 35px, 224px, 199px, '../images/sprite.png', 'footer-logo', );
$guest-name: 'guest';
$guest-x: 19px;
$guest-y: 180px;
$guest-offset-x: -19px;
$guest-offset-y: -180px;
$guest-width: 18px;
$guest-height: 18px;
$guest-total-width: 224px;
$guest-total-height: 199px;
$guest-image: '../images/sprite.png';
$guest: (19px, 180px, -19px, -180px, 18px, 18px, 224px, 199px, '../images/sprite.png', 'guest', );
$house-name: 'house';
$house-x: 108px;
$house-y: 105px;
$house-offset-x: -108px;
$house-offset-y: -105px;
$house-width: 13px;
$house-height: 18px;
$house-total-width: 224px;
$house-total-height: 199px;
$house-image: '../images/sprite.png';
$house: (108px, 105px, -108px, -105px, 13px, 18px, 224px, 199px, '../images/sprite.png', 'house', );
$menu-name: 'menu';
$menu-x: 191px;
$menu-y: 110px;
$menu-offset-x: -191px;
$menu-offset-y: -110px;
$menu-width: 30px;
$menu-height: 21px;
$menu-total-width: 224px;
$menu-total-height: 199px;
$menu-image: '../images/sprite.png';
$menu: (191px, 110px, -191px, -110px, 30px, 21px, 224px, 199px, '../images/sprite.png', 'menu', );
$minus-name: 'minus';
$minus-x: 0px;
$minus-y: 180px;
$minus-offset-x: 0px;
$minus-offset-y: -180px;
$minus-width: 19px;
$minus-height: 19px;
$minus-total-width: 224px;
$minus-total-height: 199px;
$minus-image: '../images/sprite.png';
$minus: (0px, 180px, 0px, -180px, 19px, 19px, 224px, 199px, '../images/sprite.png', 'minus', );
$pen-name: 'pen';
$pen-x: 108px;
$pen-y: 88px;
$pen-offset-x: -108px;
$pen-offset-y: -88px;
$pen-width: 17px;
$pen-height: 17px;
$pen-total-width: 224px;
$pen-total-height: 199px;
$pen-image: '../images/sprite.png';
$pen: (108px, 88px, -108px, -88px, 17px, 17px, 224px, 199px, '../images/sprite.png', 'pen', );
$phone-name: 'phone';
$phone-x: 159px;
$phone-y: 32px;
$phone-offset-x: -159px;
$phone-offset-y: -32px;
$phone-width: 32px;
$phone-height: 32px;
$phone-total-width: 224px;
$phone-total-height: 199px;
$phone-image: '../images/sprite.png';
$phone: (159px, 32px, -159px, -32px, 32px, 32px, 224px, 199px, '../images/sprite.png', 'phone', );
$plus-name: 'plus';
$plus-x: 191px;
$plus-y: 83px;
$plus-offset-x: -191px;
$plus-offset-y: -83px;
$plus-width: 27px;
$plus-height: 27px;
$plus-total-width: 224px;
$plus-total-height: 199px;
$plus-image: '../images/sprite.png';
$plus: (191px, 83px, -191px, -83px, 27px, 27px, 224px, 199px, '../images/sprite.png', 'plus', );
$room-1-name: 'room-1';
$room-1-x: 36px;
$room-1-y: 125px;
$room-1-offset-x: -36px;
$room-1-offset-y: -125px;
$room-1-width: 36px;
$room-1-height: 32px;
$room-1-total-width: 224px;
$room-1-total-height: 199px;
$room-1-image: '../images/sprite.png';
$room-1: (36px, 125px, -36px, -125px, 36px, 32px, 224px, 199px, '../images/sprite.png', 'room-1', );
$room-10-name: 'room-10';
$room-10-x: 0px;
$room-10-y: 159px;
$room-10-offset-x: 0px;
$room-10-offset-y: -159px;
$room-10-width: 41px;
$room-10-height: 21px;
$room-10-total-width: 224px;
$room-10-total-height: 199px;
$room-10-image: '../images/sprite.png';
$room-10: (0px, 159px, 0px, -159px, 41px, 21px, 224px, 199px, '../images/sprite.png', 'room-10', );
$room-11-name: 'room-11';
$room-11-x: 38px;
$room-11-y: 49px;
$room-11-offset-x: -38px;
$room-11-offset-y: -49px;
$room-11-width: 42px;
$room-11-height: 35px;
$room-11-total-width: 224px;
$room-11-total-height: 199px;
$room-11-image: '../images/sprite.png';
$room-11: (38px, 49px, -38px, -49px, 42px, 35px, 224px, 199px, '../images/sprite.png', 'room-11', );
$room-12-name: 'room-12';
$room-12-x: 125px;
$room-12-y: 73px;
$room-12-offset-x: -125px;
$room-12-offset-y: -73px;
$room-12-width: 33px;
$room-12-height: 33px;
$room-12-total-width: 224px;
$room-12-total-height: 199px;
$room-12-image: '../images/sprite.png';
$room-12: (125px, 73px, -125px, -73px, 33px, 33px, 224px, 199px, '../images/sprite.png', 'room-12', );
$room-13-name: 'room-13';
$room-13-x: 36px;
$room-13-y: 88px;
$room-13-offset-x: -36px;
$room-13-offset-y: -88px;
$room-13-width: 36px;
$room-13-height: 37px;
$room-13-total-width: 224px;
$room-13-total-height: 199px;
$room-13-image: '../images/sprite.png';
$room-13: (36px, 88px, -36px, -88px, 36px, 37px, 224px, 199px, '../images/sprite.png', 'room-13', );
$room-14-name: 'room-14';
$room-14-x: 159px;
$room-14-y: 0px;
$room-14-offset-x: -159px;
$room-14-offset-y: 0px;
$room-14-width: 32px;
$room-14-height: 32px;
$room-14-total-width: 224px;
$room-14-total-height: 199px;
$room-14-image: '../images/sprite.png';
$room-14: (159px, 0px, -159px, 0px, 32px, 32px, 224px, 199px, '../images/sprite.png', 'room-14', );
$room-15-name: 'room-15';
$room-15-x: 0px;
$room-15-y: 88px;
$room-15-offset-x: 0px;
$room-15-offset-y: -88px;
$room-15-width: 36px;
$room-15-height: 37px;
$room-15-total-width: 224px;
$room-15-total-height: 199px;
$room-15-image: '../images/sprite.png';
$room-15: (0px, 88px, 0px, -88px, 36px, 37px, 224px, 199px, '../images/sprite.png', 'room-15', );
$room-16-name: 'room-16';
$room-16-x: 159px;
$room-16-y: 126px;
$room-16-offset-x: -159px;
$room-16-offset-y: -126px;
$room-16-width: 29px;
$room-16-height: 33px;
$room-16-total-width: 224px;
$room-16-total-height: 199px;
$room-16-image: '../images/sprite.png';
$room-16: (159px, 126px, -159px, -126px, 29px, 33px, 224px, 199px, '../images/sprite.png', 'room-16', );
$room-17-name: 'room-17';
$room-17-x: 191px;
$room-17-y: 0px;
$room-17-offset-x: -191px;
$room-17-offset-y: 0px;
$room-17-width: 33px;
$room-17-height: 25px;
$room-17-total-width: 224px;
$room-17-total-height: 199px;
$room-17-image: '../images/sprite.png';
$room-17: (191px, 0px, -191px, 0px, 33px, 25px, 224px, 199px, '../images/sprite.png', 'room-17', );
$room-18-name: 'room-18';
$room-18-x: 191px;
$room-18-y: 53px;
$room-18-offset-x: -191px;
$room-18-offset-y: -53px;
$room-18-width: 26px;
$room-18-height: 30px;
$room-18-total-width: 224px;
$room-18-total-height: 199px;
$room-18-image: '../images/sprite.png';
$room-18: (191px, 53px, -191px, -53px, 26px, 30px, 224px, 199px, '../images/sprite.png', 'room-18', );
$room-2-name: 'room-2';
$room-2-x: 72px;
$room-2-y: 88px;
$room-2-offset-x: -72px;
$room-2-offset-y: -88px;
$room-2-width: 36px;
$room-2-height: 36px;
$room-2-total-width: 224px;
$room-2-total-height: 199px;
$room-2-image: '../images/sprite.png';
$room-2: (72px, 88px, -72px, -88px, 36px, 36px, 224px, 199px, '../images/sprite.png', 'room-2', );
$room-3-name: 'room-3';
$room-3-x: 0px;
$room-3-y: 49px;
$room-3-offset-x: 0px;
$room-3-offset-y: -49px;
$room-3-width: 38px;
$room-3-height: 39px;
$room-3-total-width: 224px;
$room-3-total-height: 199px;
$room-3-image: '../images/sprite.png';
$room-3: (0px, 49px, 0px, -49px, 38px, 39px, 224px, 199px, '../images/sprite.png', 'room-3', );
$room-4-name: 'room-4';
$room-4-x: 72px;
$room-4-y: 125px;
$room-4-offset-x: -72px;
$room-4-offset-y: -125px;
$room-4-width: 36px;
$room-4-height: 31px;
$room-4-total-width: 224px;
$room-4-total-height: 199px;
$room-4-image: '../images/sprite.png';
$room-4: (72px, 125px, -72px, -125px, 36px, 31px, 224px, 199px, '../images/sprite.png', 'room-4', );
$room-5-name: 'room-5';
$room-5-x: 108px;
$room-5-y: 125px;
$room-5-offset-x: -108px;
$room-5-offset-y: -125px;
$room-5-width: 38px;
$room-5-height: 28px;
$room-5-total-width: 224px;
$room-5-total-height: 199px;
$room-5-image: '../images/sprite.png';
$room-5: (108px, 125px, -108px, -125px, 38px, 28px, 224px, 199px, '../images/sprite.png', 'room-5', );
$room-6-name: 'room-6';
$room-6-x: 125px;
$room-6-y: 38px;
$room-6-offset-x: -125px;
$room-6-offset-y: -38px;
$room-6-width: 33px;
$room-6-height: 35px;
$room-6-total-width: 224px;
$room-6-total-height: 199px;
$room-6-image: '../images/sprite.png';
$room-6: (125px, 38px, -125px, -38px, 33px, 35px, 224px, 199px, '../images/sprite.png', 'room-6', );
$room-7-name: 'room-7';
$room-7-x: 49px;
$room-7-y: 0px;
$room-7-offset-x: -49px;
$room-7-offset-y: 0px;
$room-7-width: 40px;
$room-7-height: 44px;
$room-7-total-width: 224px;
$room-7-total-height: 199px;
$room-7-image: '../images/sprite.png';
$room-7: (49px, 0px, -49px, 0px, 40px, 44px, 224px, 199px, '../images/sprite.png', 'room-7', );
$room-8-name: 'room-8';
$room-8-x: 89px;
$room-8-y: 0px;
$room-8-offset-x: -89px;
$room-8-offset-y: 0px;
$room-8-width: 36px;
$room-8-height: 45px;
$room-8-total-width: 224px;
$room-8-total-height: 199px;
$room-8-image: '../images/sprite.png';
$room-8: (89px, 0px, -89px, 0px, 36px, 45px, 224px, 199px, '../images/sprite.png', 'room-8', );
$room-9-name: 'room-9';
$room-9-x: 0px;
$room-9-y: 125px;
$room-9-offset-x: 0px;
$room-9-offset-y: -125px;
$room-9-width: 36px;
$room-9-height: 34px;
$room-9-total-width: 224px;
$room-9-total-height: 199px;
$room-9-image: '../images/sprite.png';
$room-9: (0px, 125px, 0px, -125px, 36px, 34px, 224px, 199px, '../images/sprite.png', 'room-9', );
$skype-name: 'skype';
$skype-x: 159px;
$skype-y: 64px;
$skype-offset-x: -159px;
$skype-offset-y: -64px;
$skype-width: 31px;
$skype-height: 31px;
$skype-total-width: 224px;
$skype-total-height: 199px;
$skype-image: '../images/sprite.png';
$skype: (159px, 64px, -159px, -64px, 31px, 31px, 224px, 199px, '../images/sprite.png', 'skype', );
$title-label-light-name: 'title-label-light';
$title-label-light-x: 111px;
$title-label-light-y: 159px;
$title-label-light-offset-x: -111px;
$title-label-light-offset-y: -159px;
$title-label-light-width: 70px;
$title-label-light-height: 10px;
$title-label-light-total-width: 224px;
$title-label-light-total-height: 199px;
$title-label-light-image: '../images/sprite.png';
$title-label-light: (111px, 159px, -111px, -159px, 70px, 10px, 224px, 199px, '../images/sprite.png', 'title-label-light', );
$title-label-white-name: 'title-label-white';
$title-label-white-x: 41px;
$title-label-white-y: 169px;
$title-label-white-offset-x: -41px;
$title-label-white-offset-y: -169px;
$title-label-white-width: 70px;
$title-label-white-height: 10px;
$title-label-white-total-width: 224px;
$title-label-white-total-height: 199px;
$title-label-white-image: '../images/sprite.png';
$title-label-white: (41px, 169px, -41px, -169px, 70px, 10px, 224px, 199px, '../images/sprite.png', 'title-label-white', );
$title-label-name: 'title-label';
$title-label-x: 41px;
$title-label-y: 159px;
$title-label-offset-x: -41px;
$title-label-offset-y: -159px;
$title-label-width: 70px;
$title-label-height: 10px;
$title-label-total-width: 224px;
$title-label-total-height: 199px;
$title-label-image: '../images/sprite.png';
$title-label: (41px, 159px, -41px, -159px, 70px, 10px, 224px, 199px, '../images/sprite.png', 'title-label', );
$zoom-name: 'zoom';
$zoom-x: 191px;
$zoom-y: 25px;
$zoom-offset-x: -191px;
$zoom-offset-y: -25px;
$zoom-width: 28px;
$zoom-height: 28px;
$zoom-total-width: 224px;
$zoom-total-height: 199px;
$zoom-image: '../images/sprite.png';
$zoom: (191px, 25px, -191px, -25px, 28px, 28px, 224px, 199px, '../images/sprite.png', 'zoom', );
$spritesheet-width: 224px;
$spritesheet-height: 199px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($adress, $apostrophe, $arrow-right, $bed, $booking-menu, $bookmark, $calendar, $close, $door, $footer-logo, $guest, $house, $menu, $minus, $pen, $phone, $plus, $room-1, $room-10, $room-11, $room-12, $room-13, $room-14, $room-15, $room-16, $room-17, $room-18, $room-2, $room-3, $room-4, $room-5, $room-6, $room-7, $room-8, $room-9, $skype, $title-label-light, $title-label-white, $title-label, $zoom, );
$spritesheet: (224px, 199px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
