/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$adress-name: 'adress';
$adress-x: 88px;
$adress-y: 0px;
$adress-offset-x: -88px;
$adress-offset-y: 0px;
$adress-width: 31px;
$adress-height: 31px;
$adress-total-width: 189px;
$adress-total-height: 114px;
$adress-image: '../images/sprite.png';
$adress: (88px, 0px, -88px, 0px, 31px, 31px, 189px, 114px, '../images/sprite.png', 'adress', );
$apostrophe-name: 'apostrophe';
$apostrophe-x: 0px;
$apostrophe-y: 0px;
$apostrophe-offset-x: 0px;
$apostrophe-offset-y: 0px;
$apostrophe-width: 49px;
$apostrophe-height: 49px;
$apostrophe-total-width: 189px;
$apostrophe-total-height: 114px;
$apostrophe-image: '../images/sprite.png';
$apostrophe: (0px, 0px, 0px, 0px, 49px, 49px, 189px, 114px, '../images/sprite.png', 'apostrophe', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 142px;
$arrow-right-y: 31px;
$arrow-right-offset-x: -142px;
$arrow-right-offset-y: -31px;
$arrow-right-width: 23px;
$arrow-right-height: 18px;
$arrow-right-total-width: 189px;
$arrow-right-total-height: 114px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (142px, 31px, -142px, -31px, 23px, 18px, 189px, 114px, '../images/sprite.png', 'arrow-right', );
$bed-name: 'bed';
$bed-x: 132px;
$bed-y: 73px;
$bed-offset-x: -132px;
$bed-offset-y: -73px;
$bed-width: 20px;
$bed-height: 12px;
$bed-total-width: 189px;
$bed-total-height: 114px;
$bed-image: '../images/sprite.png';
$bed: (132px, 73px, -132px, -73px, 20px, 12px, 189px, 114px, '../images/sprite.png', 'bed', );
$booking-menu-name: 'booking-menu';
$booking-menu-x: 149px;
$booking-menu-y: 10px;
$booking-menu-offset-x: -149px;
$booking-menu-offset-y: -10px;
$booking-menu-width: 26px;
$booking-menu-height: 19px;
$booking-menu-total-width: 189px;
$booking-menu-total-height: 114px;
$booking-menu-image: '../images/sprite.png';
$booking-menu: (149px, 10px, -149px, -10px, 26px, 19px, 189px, 114px, '../images/sprite.png', 'booking-menu', );
$bookmark-name: 'bookmark';
$bookmark-x: 0px;
$bookmark-y: 49px;
$bookmark-offset-x: 0px;
$bookmark-offset-y: -49px;
$bookmark-width: 34px;
$bookmark-height: 38px;
$bookmark-total-width: 189px;
$bookmark-total-height: 114px;
$bookmark-image: '../images/sprite.png';
$bookmark: (0px, 49px, 0px, -49px, 34px, 38px, 189px, 114px, '../images/sprite.png', 'bookmark', );
$calendar-name: 'calendar';
$calendar-x: 138px;
$calendar-y: 54px;
$calendar-offset-x: -138px;
$calendar-offset-y: -54px;
$calendar-width: 19px;
$calendar-height: 17px;
$calendar-total-width: 189px;
$calendar-total-height: 114px;
$calendar-image: '../images/sprite.png';
$calendar: (138px, 54px, -138px, -54px, 19px, 17px, 189px, 114px, '../images/sprite.png', 'calendar', );
$close-name: 'close';
$close-x: 119px;
$close-y: 31px;
$close-offset-x: -119px;
$close-offset-y: -31px;
$close-width: 23px;
$close-height: 23px;
$close-total-width: 189px;
$close-total-height: 114px;
$close-image: '../images/sprite.png';
$close: (119px, 31px, -119px, -31px, 23px, 23px, 189px, 114px, '../images/sprite.png', 'close', );
$door-name: 'door';
$door-x: 119px;
$door-y: 73px;
$door-offset-x: -119px;
$door-offset-y: -73px;
$door-width: 13px;
$door-height: 22px;
$door-total-width: 189px;
$door-total-height: 114px;
$door-image: '../images/sprite.png';
$door: (119px, 73px, -119px, -73px, 13px, 22px, 189px, 114px, '../images/sprite.png', 'door', );
$footer-logo-name: 'footer-logo';
$footer-logo-x: 49px;
$footer-logo-y: 0px;
$footer-logo-offset-x: -49px;
$footer-logo-offset-y: 0px;
$footer-logo-width: 39px;
$footer-logo-height: 35px;
$footer-logo-total-width: 189px;
$footer-logo-total-height: 114px;
$footer-logo-image: '../images/sprite.png';
$footer-logo: (49px, 0px, -49px, 0px, 39px, 35px, 189px, 114px, '../images/sprite.png', 'footer-logo', );
$guest-name: 'guest';
$guest-x: 165px;
$guest-y: 31px;
$guest-offset-x: -165px;
$guest-offset-y: -31px;
$guest-width: 18px;
$guest-height: 18px;
$guest-total-width: 189px;
$guest-total-height: 114px;
$guest-image: '../images/sprite.png';
$guest: (165px, 31px, -165px, -31px, 18px, 18px, 189px, 114px, '../images/sprite.png', 'guest', );
$house-name: 'house';
$house-x: 175px;
$house-y: 10px;
$house-offset-x: -175px;
$house-offset-y: -10px;
$house-width: 13px;
$house-height: 18px;
$house-total-width: 189px;
$house-total-height: 114px;
$house-image: '../images/sprite.png';
$house: (175px, 10px, -175px, -10px, 13px, 18px, 189px, 114px, '../images/sprite.png', 'house', );
$menu-name: 'menu';
$menu-x: 119px;
$menu-y: 10px;
$menu-offset-x: -119px;
$menu-offset-y: -10px;
$menu-width: 30px;
$menu-height: 21px;
$menu-total-width: 189px;
$menu-total-height: 114px;
$menu-image: '../images/sprite.png';
$menu: (119px, 10px, -119px, -10px, 30px, 21px, 189px, 114px, '../images/sprite.png', 'menu', );
$minus-name: 'minus';
$minus-x: 119px;
$minus-y: 54px;
$minus-offset-x: -119px;
$minus-offset-y: -54px;
$minus-width: 19px;
$minus-height: 19px;
$minus-total-width: 189px;
$minus-total-height: 114px;
$minus-image: '../images/sprite.png';
$minus: (119px, 54px, -119px, -54px, 19px, 19px, 189px, 114px, '../images/sprite.png', 'minus', );
$pen-name: 'pen';
$pen-x: 157px;
$pen-y: 54px;
$pen-offset-x: -157px;
$pen-offset-y: -54px;
$pen-width: 17px;
$pen-height: 17px;
$pen-total-width: 189px;
$pen-total-height: 114px;
$pen-image: '../images/sprite.png';
$pen: (157px, 54px, -157px, -54px, 17px, 17px, 189px, 114px, '../images/sprite.png', 'pen', );
$phone-name: 'phone';
$phone-x: 34px;
$phone-y: 49px;
$phone-offset-x: -34px;
$phone-offset-y: -49px;
$phone-width: 32px;
$phone-height: 32px;
$phone-total-width: 189px;
$phone-total-height: 114px;
$phone-image: '../images/sprite.png';
$phone: (34px, 49px, -34px, -49px, 32px, 32px, 189px, 114px, '../images/sprite.png', 'phone', );
$plus-name: 'plus';
$plus-x: 0px;
$plus-y: 87px;
$plus-offset-x: 0px;
$plus-offset-y: -87px;
$plus-width: 27px;
$plus-height: 27px;
$plus-total-width: 189px;
$plus-total-height: 114px;
$plus-image: '../images/sprite.png';
$plus: (0px, 87px, 0px, -87px, 27px, 27px, 189px, 114px, '../images/sprite.png', 'plus', );
$skype-name: 'skype';
$skype-x: 88px;
$skype-y: 31px;
$skype-offset-x: -88px;
$skype-offset-y: -31px;
$skype-width: 31px;
$skype-height: 31px;
$skype-total-width: 189px;
$skype-total-height: 114px;
$skype-image: '../images/sprite.png';
$skype: (88px, 31px, -88px, -31px, 31px, 31px, 189px, 114px, '../images/sprite.png', 'skype', );
$title-label-light-name: 'title-label-light';
$title-label-light-x: 119px;
$title-label-light-y: 0px;
$title-label-light-offset-x: -119px;
$title-label-light-offset-y: 0px;
$title-label-light-width: 70px;
$title-label-light-height: 10px;
$title-label-light-total-width: 189px;
$title-label-light-total-height: 114px;
$title-label-light-image: '../images/sprite.png';
$title-label-light: (119px, 0px, -119px, 0px, 70px, 10px, 189px, 114px, '../images/sprite.png', 'title-label-light', );
$title-label-white-name: 'title-label-white';
$title-label-white-x: 27px;
$title-label-white-y: 97px;
$title-label-white-offset-x: -27px;
$title-label-white-offset-y: -97px;
$title-label-white-width: 70px;
$title-label-white-height: 10px;
$title-label-white-total-width: 189px;
$title-label-white-total-height: 114px;
$title-label-white-image: '../images/sprite.png';
$title-label-white: (27px, 97px, -27px, -97px, 70px, 10px, 189px, 114px, '../images/sprite.png', 'title-label-white', );
$title-label-name: 'title-label';
$title-label-x: 27px;
$title-label-y: 87px;
$title-label-offset-x: -27px;
$title-label-offset-y: -87px;
$title-label-width: 70px;
$title-label-height: 10px;
$title-label-total-width: 189px;
$title-label-total-height: 114px;
$title-label-image: '../images/sprite.png';
$title-label: (27px, 87px, -27px, -87px, 70px, 10px, 189px, 114px, '../images/sprite.png', 'title-label', );
$spritesheet-width: 189px;
$spritesheet-height: 114px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($adress, $apostrophe, $arrow-right, $bed, $booking-menu, $bookmark, $calendar, $close, $door, $footer-logo, $guest, $house, $menu, $minus, $pen, $phone, $plus, $skype, $title-label-light, $title-label-white, $title-label, );
$spritesheet: (189px, 114px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
